# Serveur
PORT=3000
NODE_ENV=development

# Base de données PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_NAME=badges_systeme
DB_USER=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=24h

# Mot de passe par défaut pour les nouveaux utilisateurs
DEFAULT_PASSWORD=